.mw-100 {
    max-width: 100rem;
}

.shadow-nav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.menu span a {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
    padding-right: 3rem;
}


.active {
    border-color: rgb(209 213 219);
    color: rgb(107 114 128);
    display: inline-flex;
    align-items: center;
}

.active:hover {
    color: rgb(55 65 81);
    border-color: rgb(107 114 128);
}

.premium {
    font-weight: bold;
    color: rgb(14 165 233);
}

.ultimate {
    font-weight: bold;
    color: rgb(79 70 229);
}

.premium-button {
    background: rgb(14 165 233);
}

.premium-button:hover {
    background: rgb(3 105 161);
}